{% extends 'base.html' %}
{% load static %}
{% block content %}
{% block header %} <title>Change Password</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}


    <div class="container w-50 mx-auto my-3">
        <h4 class="text-center">ACCOUNT SETTINGS</h4>
    <div class="profile clearfix">

        <form method="post" >{% csrf_token %}
        <h2>Change Password</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <a href="{% url 'index' %}">Back</a>
        <div class="container text-center w-10">
        <button type="submit"  class="btn-lg btn-secondary">Submit</button>
             </div>
    </form>

    </div>
    </div>
{% endblock %}