<style>

</style>

{% extends 'base.html' %}

{% block header %}
    <title>Complain Detail</title>
    {% load static %}
{% endblock %}

{% block content %}
{% load widget_tweaks %}
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Form advanced</h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5   form-group row pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <!-- form input mask -->
              <div class="col-md-6 col-sm-12  ">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>{{ object.title }}</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <div class="container text-center">
                        <p>Complaint Posted By : {{ object.created_by }}</p>
                        <p>Location : {{ object.location }}</p>
                        <p>Time : {{ object.created_at }}</p>
                        </div>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />

                      <form lass="form-horizontal form-label-left" enctype="multipart/form-data" method="post">{% csrf_token %}
                      <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3">Detailed Description</label>
                        <div class="col-md-9 col-sm-9 col-xs-9">
                          <p>{{ object.description }}</p>
                        </div>
                      </div>

                         <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3">Evidence</label>
                        <div class="col-md-9 col-sm-9 col-xs-9">
                          <p>{{ object.evidence }}</p>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3">Action</label>

                          <label for="{{ form.title_for_label }}">Action</label>
                            {{ form.action|add_class:"form-control" }}

                      </div>
                      <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3">Assigned To</label>

                          <label for="{{ form.title_for_label }}">Assigned To</label>
                            {{ form.assigned|add_class:"form-control" }}

                      </div>

                           <div class="container text-center w-50">
                          <input type="submit" class="btn-lg btn-success" value="DONE">
                             </div>

                      <div class="ln_solid"></div>

                      <div class="form-group row">
                        <div class="card-footer">
                                <div class="container text-center">
                            <button class="btn btn-primary" id="mail_btn">Mail Action Report to {{ object.created_by }}</button>
                            </div>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


{% block content1 %}
{% endblock %}


    <div class="container card-body" id="form-container">
        <div class="container justify-content-between">
                <i class="fa fa-close" style="font-size:40px"></i></div>
            <h4 class="text-center mx-auto my-3">SEND EMAIL REPORT</h4>
            <form method="post" action="#">
              {% csrf_token %}

              <div class="form-group">
                  <label for="sender_email">SEND TO</label>
                  <input class="form-control" type="text" name="sender_email" id="sender_email" placeholder="Sender Email!">
              </div>

              <div class="form-group">
                  <label for="msg_subject">SUBJECT</label>
                  <input class="form-control" type="text" name="msg_subject" id="msg_subject" placeholder="Email Subject">
              </div>

              <div class="form-group">
                  <label for="msg_body">BODY</label>
                  <textarea class="form-control" rows="10" name="msg_body" id="msg_body" placeholder="Enter the body of Email"></textarea>

              </div>

              <div class="container text-center">
                  <button type="submit" class="btn btn-warning col-md-4" id="email_button" name="" value="Email Report">Email Report</button>
              </div>

        </form>
        </div>

    </div>

    <script>
    $(document).ready(function() {
       console.log('Loaded document');

       let form_container = $('#form-container');
       form_container.hide();
       // form_container.fadeIn(1000);

       $('#mail_btn').click(function() {
            form_container.fadeIn(500);
       });

       $('.fa-close').click(function() {
            form_container.fadeOut(500);
       });
    });


    </script>
{% endblock %}